@import 'tailwindcss';

:root {
  @apply flex w-full h-full text-[16px];

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply min-h-dvh w-full m-0 p-0 flex;
}

#root {
  @apply flex w-full h-full;
}

@theme {
}
